local:
  mp3s: ${win_home}/Music
  vdest: ${media}/staging
  xdest: ${storage}/secret/videos

remotes:
  clipJam:
    disabled: false
    mp3s: '/media/mslinn/Clip Jam/Music/playlist'
  mslinn@gojira:
    disabled: false
    mp3s: /data/media/mp3s
    vdest: /data/media/staging
    xdest: /data/secret/videos
  bear:
    disabled: true
    method: samba
    mp3s: e:/media/mp3s
    vdest: e:/media/staging
    xdest: f:/storage/a_z/videos
  camille:
    disabled: false
    method: samba
    mp3s: c:/media/mp3s
    vdest: c:/media/staging
    xdest: c:/storage/a_z/videos
