local:
  mp3s: ${win_home}/Music
  vdest: ${media}/staging
  xdest: ${storage}/secret/videos

mp3s:
  automount: /media/mslinn/Clip Jam/Music/playlist

remotes:
  mslinn@gojira:
    mp3s: /data/media/mp3s
    vdest: /data/media/staging
    xdest: /data/secret/videos
  mslinn@bear:
    disabled: true
    mp3s: /mnt/e/media/mp3s
    vdest: /mnt/e/media/staging
    xdest: /mnt/f/secret/videos
