local:
  mp3s: ${win_home}/Music
  vdest: ${media}/staging
  xdest: ${storage}/a_z/videos

mp3s:
  automount: /media/mslinn/Clip Jam/Music/playlist

remotes:
  gojira:
    mp3s: /data/media/mp3s
    vdest: /data/media/staging
    xdest: /data/a_z/videos
  bear:
    mp3s: /mnt/e/media/mp3s
    vdest: /mnt/e/media/staging
    xdest: /mnt/f/a_z/videos
